:root {
  --primary: #854836;
  --secondary: #f5b553;
  --light: #f7f7f7;
  --dark: #494949;
  --my-serif: 'Libre Baskerville', serif;
  --my-sans-serif: 'Darker Grotesque', sans-serif;
  --base: 1.4em;
  --ms1: calc(var(--base) / 1.618);
  --ms2: calc(var(--base) / 1.618 / 1.618);
}

body {
  color: var(--dark);
  background: var(--light);
  font-family: var(--my-sans-serif);
  font-size: var(--base);
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  margin: 0px;
  padding: 0px;
}

main {
  height: calc(100vh - 20px);
  min-height: calc(100vh - 20px);
  width: calc(100vw - 30px);
  margin: 10px;
  display: grid;
  grid-template-columns: 1.618fr 800px 1fr;
  grid-template-rows: 1fr 1fr 20px 1fr;
  grid-template-areas: ". . ." ". content ." ". footer ." ". . .";
  align-content: space-around;
  justify-content: space-between;

  & footer {
    grid-area: footer;
    color: var(--primary);
    background: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & a {
      font-size: var(--ms2);
      color: #49494950;
      text-decoration: none;
      font-weight: 600;
      margin-right: 5px;

      &:hover {
        color: var(--secondary);
      }
    }
  }

  & article {
    grid-area: content;
    background: white;
    padding: 1em 2em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    & .hashtag {
      grid-column-start: 3;
      grid-column-end: 5;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      text-align: center;

      & h3 {
        color: var(--secondary);
      }

      & span {
        text-transform: uppercase;
      }
    }
  }
}

button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  font-family: var(--my-sans-serif);
  font-size: var(--ms1);
  padding: 10px;
  border: 0px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease 0s;

  &:hover {
    background: var(--light);
    transition: all 0.4s ease 0s;
  }

  &.on {
    color: #ffffff !important;
    background: var(--secondary);
    transition: all 0.4s ease 0s;
  }

  &.call {
      font-size: var(--base);
      font-weight: 300 !important;
      color: var(--secondary) !important;
      text-transform: uppercase;
    }
}

.limitgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px repeat(2, 1fr);
  justify-items: stretch;

  & .title {
    padding: 0px;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media only screen and (max-width: 600px) {
  main {
    height: unset;
    grid-template-columns: auto;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "content" "footer";
    margin: 0px;
    grid-gap: 0px;

    & article {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(10, 1fr);
      width: calc(100vw - 2em);
      margin: 0px;
      padding: 1em;

      & .explanation {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      & .hashtag {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: 1.618fr 650px 1fr;
  }
}

::selection {
  background: var(--light);
  color: var(--primary);
}

::-moz-selection {
  background: var(--light);
}